		body {
			background: url(http://www.macs.hw.ac.uk/~hwloidl/jpgs/marblessbg.jpg);
			text-align:center;
		}
		#heading {
			color:blue;
		}
		#text {
			color:gray;
			font-size:15px;
		}
		#screen {
			width: 300px;
			height: 200px;
			text-align: center;
			user-select: none;
		}
		#screen.waiting {
			background-color: aqua;
		}
		#screen.ready {
			background-color: red;
			color: white;
		}
		#screen.now {
			background-color: greenyellow;
		}
